/* styles.css */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #343a40;
}

p {
    font-size: 1.2rem;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

#name-title {
    font-size: 3rem;  /* Make the font size larger */
    font-weight: bold; /* Ensure the text is bold */
    text-transform: uppercase; /* Convert text to uppercase */
}

h2 {
    margin-top: 30px;
    font-size: 2rem;
}

.container {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 15px;
}

footer {
    background-color: #343a40;
    color: white;
}
